* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #d54646;
    color: #000;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.98);
    position: sticky;
    top: 0;
}

header .logo {
    font-weight: 800;
    font-size: 2rem;
    color: #bb0c0c;
}

nav ul li a {
    font-weight: 700;
    padding: 1.2rem;
    border-radius: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: rgba(255, 0, 0, 0.87);
    transform: scale(1.1);
}

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: 0;
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.hero .btn {
    background-color: rgb(255, 0, 0);
    color: #ddff00;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 800;
}

section {
    padding: 50px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 30px;
}

section p {
    color: #000000;
    max-width: 700px;
    margin: 0 auto 40px;
    margin-bottom: 40px;
}

.card {
    background: #fff;
    padding: 25px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    color: #ff3b3f;
    margin-bottom: 15px;
}

.card p {
    color: #000000;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card .btn {
    background-color: rgb(228, 22, 22);
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

.gallery {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-us {
    background-color: #d3c46f;
    line-height: 2.0;
    align-items: center;
}

.map-section {
    text-align: center;
    background: #F5F5DC;
}

.map-section h2 {
    font-size: 2rem;
    color: #ff1100;
    margin-bottom: 20px;
}

.map-container {
    width: 100%;
    height: 500px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
}